* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}
.container > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
}
.container button {
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* Task 1 */
#btn1 {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  transform: translate(0, 0);
  transition: all 0.5s ease-in-out;
}

#btn1:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 5px 5px #000;
  transform: translate(-5px, -5px);
}

/* Task 2 */
#btn2 {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  transform: translate(0, 0);
  filter: drop-shadow(0 0 #000);
  transition: all 0.5s ease-in-out;
}

#btn2:hover {
  background-color: #fff;
  color: #000;
  filter: drop-shadow(5px 5px #000);
  transform: translate(-5px, -5px);
}

/* Task 3 */
#btn3 {
  border: 1px solid #000;
  background-color: green;
  background-image: linear-gradient(110deg, transparent 5%, #99e599 5%, #99e599 12%, transparent 12%);
  color: #fff;
  background-position-x: 30%;
  background-size: 200% 100%;
  transition: all 0.5s ease-in-out;
}

#btn3:hover {
  background-position-x: -100%;
  background-size: 200% 100%;
  background-image: linear-gradient(110deg, #009b00 5%, #99e599 5%, #99e599 12%, #009b00 12%);
}

/* Task 4 */
#shape1 {
  width: 250px;
  height: 250px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
#shape1::before {
  content: "Hello!";
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#shape1:hover {
  background-color: yellow;
}
#shape1:hover::before {
  opacity: 1;
}

/* Task 5 */
#shape2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  animation: movingShapes 10s ease-in-out infinite;
}

/* Task 6 */
#figure1 img {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}
#figure1 figcaption {
  position: relative;
  z-index: -1;
  background-color: pink;
  padding: 5px;
  transform: translate(0, -32px);
  transition: all 0.5s ease-in-out;
}

#figure1:hover img {
  filter: grayscale(100%);
}
#figure1:hover figcaption {
  transform: translate(0, -4px);
}

@keyframes movingShapes {
  0%, 100% {
    top: 0;
    left: 0;
    border-radius: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
    background-color: red;
  }
  25% {
    background-color: green;
    top: 0;
    left: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
    border-radius: 50%;
    transform: translate(-100%, 0);
  }
  50% {
    border-radius: 0;
    clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 100% 100%, 0% 100%);
    background-color: yellow;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    clip-path: polygon(50% 0%, 100% 35%, 85% 100%, 15% 100%, 0% 35%);
    background-color: orange;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
}

/*# sourceMappingURL=style.css.map */
