* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  
  > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
  }

  button {
    padding: .75rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
}

/* Task 1 */
#btn1 {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  transform: translate(0, 0);
  transition: all .5s ease-in-out;
}
#btn1:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 5px 5px #000;
  transform: translate(-5px, -5px);
}

/* Task 2 */
#btn2 {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  transform: translate(0, 0);
  filter: drop-shadow(0 0 #000);
  transition: all .5s ease-in-out;
}
#btn2:hover {
  background-color: #fff;
  color: #000;
  filter: drop-shadow(5px 5px #000);
  transform: translate(-5px, -5px);
}

/* Task 3 */
#btn3 {
  border: 1px solid #000;
  background-color: #050;
  // background-image: linear-gradient(0deg, green, green);
  background-image: linear-gradient(110deg, transparent 5%, #99e599 5%, #99e599 10%, transparent 10%);
  color: #fff;
  background-position-x: 30%;
  background-size: 200% 100%;
  transition: all 1s ease-in-out;
}
#btn3:hover {
  background-position-x: -100%;
  background-size: 200% 100%;
  background-color: #009b00;
  background-image: linear-gradient(110deg, transparent 5%, #99e599 5%, #99e599 10%, transparent 10%);
  // transition: all .5s ease-in-out;
}

/* Task 4 */
#shape1 {
  width: 250px;
  height: 250px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
  &::before {
    content: "Hello!";
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
}
#shape1:hover {
  background-color: yellow;
  &::before {
    opacity: 1;
  }
}

/* Task 5 */
#shape2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  animation: movingShapes 10s ease-in-out infinite;
}

/* Task 6 */
#figure1 {
  img {
    filter: grayscale(0);
    transition: all .5s ease-in-out;
  }
  figcaption {
    position: relative;
    z-index: -1;
    background-color: pink;
    padding: 5px;
    transform: translate(0, -32px);
    transition: all .5s ease-in-out;
  }
}
#figure1:hover {
  img {
    filter: grayscale(100%);
  }
  figcaption {
    transform: translate(0, -4px);
  }
}

@keyframes movingShapes {
  0%, 100% {
    top: 0;
    left: 0;
    border-radius: 0;
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: red;
  }
  25% {
    background-color: green;
    top: 0;
    left: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 50%;
    // clip-path: circle(50%);
    transform: translate(-100%, 0);
  }
  50% {
    border-radius: 0;
    clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 100% 100%, 0% 100%);
    background-color: yellow;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    clip-path: polygon(50% 0%, 100% 35%, 85% 100%, 15% 100%, 0% 35%);
    background-color: orange;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
}

/* Bonus Chanllenge */
.green-box {
  margin: 200px auto;
  width: 100px;
  height: 100px;
  border-top: 50px solid black;
  border-right: 50px solid red;
  border-bottom: 50px solid yellow;
  border-left: 50px solid purple;
  box-shadow: 0 10px 20px 0px #fff;
  animation: fancyGreenBox 1s linear infinite;
}

@keyframes fancyGreenBox {
  0%, 100% {
    border-top-color: green;
    border-right-color: #39ad39;
    border-bottom-color: #b0d6ab;
    border-left-color: #1b480b;
    box-shadow: 0 10px 20px 0px #fff;
  }
  25% {
    border-top-color: #1b480b;
    border-right-color: green;
    border-bottom-color: #39ad39;
    border-left-color: #b0d6ab;
    box-shadow: -10px 0 20px 0px #fff;
  }
  50% {
    border-top-color: #b0d6ab;
    border-right-color: #1b480b;
    border-bottom-color: green;
    border-left-color: #39ad39;
    box-shadow: 0 -10px 20px 0px #fff;
  }
  75% {
    border-top-color: #39ad39;
    border-right-color:#b0d6ab;
    border-bottom-color: #1b480b;
    border-left-color: green;
    box-shadow: 10px 0 20px 0px #fff;
  }
}